@font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.html");
  src: url("../fonts/Flaticond41dd41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.html") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../Flaticon.html") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;

}

.flaticon-group:before { content: "\f100"; }
.flaticon-social-care:before { content: "\f101"; }
.flaticon-ecological:before { content: "\f102"; }
.flaticon-donation:before { content: "\f103"; }
.flaticon-charity:before { content: "\f104"; }
.flaticon-social-care-1:before { content: "\f105"; }
.flaticon-community:before { content: "\f106"; }
.flaticon-blood-donation:before { content: "\f107"; }
.flaticon-scholarship:before { content: "\f108"; }
.flaticon-piggy-bank:before { content: "\f109"; }
.flaticon-donation-1:before { content: "\f10a"; }
.flaticon-dollar-coins:before { content: "\f10b"; }
.flaticon-solidarity:before { content: "\f10c"; }
.flaticon-charity-1:before { content: "\f10d"; }
.flaticon-phone-call:before { content: "\f10e"; }
.flaticon-chat:before { content: "\f10f"; }
.flaticon-location:before { content: "\f110"; }